<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="stylesheet" type="text/css" href="css/header.css">
</head>
<body>    
    <div class="top">
		<div class="login">
			<a href="login.html" class="loginbutton">
                <nav>
                    <div class="login_txt">
                        로그인
                    <div>
                </nav>				
			</a>
		</div>
	</div>

	<hr>

	<div class="middle">
		<div class="title-logo">
            <img src="image/linefriendsLogo.jpg">
        </div>
        <div class="search">
            <input type="text" placeholder="검색어를 입력하세요.">
        </div>
	</div>

    <div class=middle>
        <div class="category">
            <ul class="categorylist">
                <li><a href="Amoungus 상품 페이지">AMONG US</a></li>
                <li><a href="COLLABS 상품 페이지">COLLABS</a></li>
                <li><a href="캐릭터 상품 페이지">캐릭터</a></li>
                <li><a href="NEW 상품 페이지">NEW</a></li>
                <li><a href="SALE 상품 페이지">SALE</a></li>
                <li><a href="토이 상품 페이지">토이</a></li>
                <li><a href="문구 상품 페이지">문구</a></li>
                <li><a href="디지털 상품 페이지">디지털</a></li>
                <li><a href="의류 상품 페이지">의류</a></li>
                <li><a href="패션잡화 상품 페이지">패션잡화</a></li>
                <li><a href="리빙&레저 상품 페이지">리빙&레저</a></li>
                <li><a href="키즈 상품 페이지">키즈</a></li>
            </ul>
           <ul class="hidden-categorylist">
                <li><a href="키즈 상품 페이지">전체 상품</a></li>
                <li><a href="키즈 상품 페이지">묻고 답하기</a></li>
                <li><a href="키즈 상품 페이지">공지사항</a></li>
                <li><a href="키즈 상품 페이지">리뷰이벤트</a></li>
                <li><a href="키즈 상품 페이지">쇼핑스토리</a></li>
                <li><a href="키즈 상품 페이지">판매자정보</a></li>
           </ul>
        </div>
        <button>더보기</button>
    </div>
    
</body>
</html>