<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>판매자정보 : 라인프렌즈</title>
<link rel="stylesheet" href="../css/lineInfo.css" />
</head>
<body>
	<div class="wrap">
		<!--헤더-->

		<div class="content" style="width: 1280px; margin: 0 auto">
			<div class="infocontainer">
				<div class="under">
					<div class="infodiv">
						<strong class="infopage">소개 페이지</strong>
					</div>
				</div>
			</div>
			<div class="detail">
				<div>
					<div class="namediv">
						<div class="name">
							<strong>라인프렌즈</strong>
						</div>
						<p class="detailname">라인프렌즈 공식 브랜드스토어</p>
						<dl class="keyworddiv">
							<dt class="keyword">키워드</dt>
							<dd class="hash">
								<span class="hashtag">#아날로그감성</span> <span class="hashtag">#휴대하기좋은크기</span>
								<span class="hashtag">#아기자기한</span> <span class="hashtag">#사용이편리한</span>
								<span class="hashtag">#깔끔하고편리</span>
							</dd>
						</dl>
					</div>
					<div class="buisnessdiv">
						<strong class="buisness">사업자정보</strong>
						<div class="buisnessinfodiv">
							<div class="buisnessinfo">
								<div class="buisnessdetail">
									<div class="buisnessname">상호명</div>
									<div class="company">라인프렌즈 주식회사</div>
								</div>
								<div class="buisnessdetail">
									<div class="representative">대표자</div>
									<div class="representativename">김성훈</div>
								</div>
								<div class="buisnessdetail">
									<div class="center">고객센터</div>
									<div class="centernumber">
										<div class="centernumber">
											1544-5921 
											<span class="certification">인증</span>
										</div>
										<button class="report">
										잘못된 번호 신고
										</button>
									</div>
								</div>
							</div>
							<div class="buisnessinfo">
								<div class="buisnessdetail">
									<div class="buisnessname">사업자등록번호</div>
									<div class="centernumber">7268700030</div>
								</div>
								<div class="buisnessdetail">
									<div class="buisnessname">사업장 소재지</div>
									<div class="centernumber">서울특별시 용산구 한남대로 98 (일신빌딩) 5층 (우 : 04418) </div>
								</div>
								<div class="buisnessdetail">
									<div class="center">통신판매업번호</div>
									<div class="centernumber">2017-서울용산-0174</div>
								</div>
								<div class="buisnessdetail">
									<div class="center">e-mail</div>
									<div class="centernumber">customercare@linefriends.com</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div></div>
			</div>
		</div>

		<!--푸터-->
	</div>
</body>
</html>