<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상품 페이지</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<link href="./css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<header>
			<div class="top">
				<ul class="nav justify-content-end">
					<li>
						<a class="login_btn" href="login.html" >
							<button type="button" class="btn btn-outline-dark">로그인</button>
						</a>
					</li>
				</ul>
			</div>
			
			<hr>
			
			<div class="middle">
				<ul class="nav justify-content-center">
					<li>
						<a class="Home_btn" href="main.html">
							<img src="image/main_logo_b.png" class="logo_img">
						</a>
					</li>
				</ul>
				<ul class="nav justify-content-end">
					<li>
						<div class="search">
				            <input type="text" placeholder="검색어를 입력해보세요.">
				        </div>
					</li>
				</ul>
				
			</div>
			
			<div class="bottom">
				<ul class="nav nav-pills">
        			<li class="nav-item">
          				<a class="nav-link" aria-current="page" href="#">AMONG US</a>
        			</li>
			        <li class="nav-item dropdown">
			          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">COLLABS</a>
			          <ul class="dropdown-menu">
			            <li><a class="dropdown-item" href="#">Maison Kitsune</a></li>
			            <li><a class="dropdown-item" href="#">MINIONS</a></li>
			            <li><a class="dropdown-item" href="#">CASETiFY</a></li>
			          </ul>
			        </li>
			        <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">캐릭터</a>
			            <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="#">브라운앤프렌즈</a></li>
			              <li><a class="dropdown-item" href="#">BT21</a></li>
			              <li><a class="dropdown-item" href="#">브롤스타즈</a></li>
			              <li><a class="dropdown-item" href="#">TRUZ</a></li>
			            </ul>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#">NEW</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#">SALE</a>
			        </li>
			        <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">토이</a>
			            <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="#">중대형 인형</a></li>
			              <li><a class="dropdown-item" href="#">미니 인형</a></li>
			              <li><a class="dropdown-item" href="#">키링</a></li>
			              <li><a class="dropdown-item" href="#">쿠션, 방식</a></li>
			              <li><a class="dropdown-item" href="#">피규어</a></li>
			            </ul>
			          </li>
			        <li class="nav-item dropdown">
			          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">문구</a>
			          <ul class="dropdown-menu">
			            <li><a class="dropdown-item" href="#">다이어리, 플래너</a></li>
			            <li><a class="dropdown-item" href="#">노트,메모지</a></li>
			            <li><a class="dropdown-item" href="#">필기구,필통</a></li>
			            <li><a class="dropdown-item" href="#">스티커</a></li>
			            <li><a class="dropdown-item" href="#">마그넷</a></li>
			          </ul>
			        </li>
			        <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">디지털</a>
			            <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="#">폰케이스</a></li>
			              <li><a class="dropdown-item" href="#">디지털케이스</a></li>
			              <li><a class="dropdown-item" href="#">소형가전</a></li>
			              <li><a class="dropdown-item" href="#">주변기기</a></li>
			            </ul>
			          </li>
			        <li class="nav-item dropdown">
			          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">의류</a>
			          <ul class="dropdown-menu">
			            <li><a class="dropdown-item" href="#">반팔 의류</a></li>
			            <li><a class="dropdown-item" href="#">긴팔 의류</a></li>
			            <li><a class="dropdown-item" href="#">파자마</a></li>
			            <li><a class="dropdown-item" href="#">양말, 슬리퍼</a></li>
			          </ul>
			        </li>
			        <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">패션잡화</a>
			            <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="#">가방</a></li>
			              <li><a class="dropdown-item" href="#">지갑,파우치</a></li>
			              <li><a class="dropdown-item" href="#">뷰티</a></li>
			              <li><a class="dropdown-item" href="#">패션소품</a></li>
			              <li><a class="dropdown-item" href="#">위생용품</a></li>
			            </ul>
			        </li>
			        <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">리빙&레저</a>
			            <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="#">페브릭,홈데코</a></li>
			              <li><a class="dropdown-item" href="#">컵, 텀블러</a></li>
			              <li><a class="dropdown-item" href="#">주방,욕실</a></li>
			              <li><a class="dropdown-item" href="#">캠핑</a></li>
			              <li><a class="dropdown-item" href="#">골프</a></li>
			              <li><a class="dropdown-item" href="#">샴푸</a></li>
			            </ul>
			        </li>
			        <li class="nav-item dropdown">
			            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">키즈</a>
			            <ul class="dropdown-menu">
			              <li><a class="dropdown-item" href="#">의류</a></li>
			              <li><a class="dropdown-item" href="#">패션잡화</a></li>
			              <li><a class="dropdown-item" href="#">양말,슬리퍼</a></li>
			            </ul>
			        </li>
			    </ul>
			    
			    <button type="button" style="float: right;">더보기</button>
			    <ul class="nav nav-pills">
			        <li class="nav-item">
			          <a class="nav-link " href="#" >전체 상품</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link " style="color:rgba(0,0,0,0.5);" href="#">묻고 답하기</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link " style="color:rgba(0,0,0,0.5);" href="#">공지사항</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link " style="color:rgba(0,0,0,0.5);" href="#">리뷰 이벤트</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link " style="color:rgba(0,0,0,0.5);" href="#">쇼핑 스토리</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link " style="color:rgba(0,0,0,0.5);" aria-current="page" href="#">판매자정보</a>
			        </li>
			    </ul>
			</div>
			
			<hr>
		</header>
		
		
		<div class="container">
			<!--카테고리와 세부 카테고리 표시 -->
			<div style="margin: 50px 0 13px;font-size: 12px;line-height: 1.5em;">
				<strong style="display: inline-block;font-size: 22px;line-height: 24px;vertical-align: top;font-weight: bold;">AMONG US</strong>
				<div style="float: right;margin: 3px 0 0 50px;">
					<ul style="display: inline-block;vertical-align: top;list-style: none;margin: 0;padding: 0;">
						<li style="display: inline-block;vertical-align: top;list-style: none;">
							<a href="#">홈</a>
						</li>
						<li style="display: inline-block;vertical-align: top;list-style: none;">
							<a href="#">
								<span>AMONG US</span> 
								<span>(총 10개)</span>
							</a>
							<div style="display: inline-block;position: relative;vertical-align: top;">
								<button style="display: inline-block;position: relative;line-height: 18px;outline: none;vertical-align: top;border: none;background-color: red;">
									<span style="overflow: hidden;">더보기</span>
								</button>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!-- 인기도순,누적판매순 등의 정렬 옵션과 보기 옵션-->
			<div>
				<div>
					<ul style="list-style: none;font-size: 12px;">
						<li style="position: relative;display: inline-block;padding: 0 5px; ">
							<button type="button" >인기도순</button>
						</li>
						<li style="position: relative;display: inline-block;padding: 0 5px; ">
							<button type="button" >누적판매순</button>
						</li>
						<li style="position: relative;display: inline-block;padding: 0 5px; ">
							<button type="button" >낮은가격순</button>
						</li>
						<li style="position: relative;display: inline-block;padding: 0 5px; ">
							<button type="button" >최신등록순</button>
						</li>
						<li style="position: relative;display: inline-block;padding: 0 5px; ">
							<button type="button" >리뷰많은순</button>
						</li>
						<li style="position: relative;display: inline-block;padding: 0 5px; ">
							<button type="button" >평점높은순</button>
						</li>
					</ul>
				</div>
				<div></div>
			</div>
			
			
			<!-- 컨텐프 (상품들)-->
			<div class="row">
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div style="max-width: 18rem;">
						<img src="image/product1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-title">상품 이름(라인프렌즈의 상품 이름)</p>
							<p class="card-text">상품 가격:49,000원</p>
						</div>
					</div>
				</div>
			</div>

			
		</div>

		

		<footer>
			<div class="delivery_info">
				<span class="footer">반품 배송비, 반품 배송주소 등은 해당 상품 페이지 내 안내를 참고해주세요.</span>
				<span class="footer">라인프렌즈 주식회사</span>
				<span class="footer">1544-5921</span>
				<span class="footer">인증</span>
				<button type="button" class="footer">잘못된 번호 신고</button>
			</div>
			<div class="terms_info">
				<ul class="nav nav-pills">
					<li> <a class="nav-link footer" href="#">네이버 약관</a> </li>
					<li> <a class="nav-link footer" href="#">네이버페이 약관</a> </li>
					<li> <a class="nav-link footer" href="#">전자금융거래 약관</a> </li>
					<li> <a class="nav-link footer" href="#">개인정보처리방침</a> </li>
					<li> <a class="nav-link footer" href="#">책임의 한계와 법적고지</a> </li>
					<li> <a class="nav-link footer" href="#">청소년보호정책</a> </li>
					<li> <a class="nav-link footer" href="#">지식재산권신고센터</a> </li>
					<li> <a class="nav-link footer" href="#">안전거래 가이드</a> </li>
					<li> <a class="nav-link footer" href="#">쇼핑&페이 고객센터</a> </li>
				</ul>
			</div>
			<div class="company_info footer">
				<strong>라인프렌즈(주)</strong>
				<div class="footer">
					사업자등록번호 7268700030<span class="footer"> | </span>통신판매업번호 2017-서울용산-0174
					<br>
					대표이사 김성훈<span class="footer"> | </span>서울특별시 용산구 한남대로 98(일신빌딩)5층
					<br>
					전화 1544-5921<span class="footer"> | </span>이메일
					<a href="#">customercare@linefriends.com</a><span class="footer"> | </span>
					<a href="#">사업자등록정보 확인</a>
				</div>
			</div>
			
		</footer>
		
	</div>
	
</body>
</html>