<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>묻고 답하기 : 라인프렌즈</title>
</head>
<body>
	<div class="wrap">
		<!-- 헤더 -->
		
		<div class="content" style="width:1280px;margin:0 auto">
			<div class="QAdiv">
				<div class="QA">
					<div class="QAname">
						<strong class="strong">묻고 답하기</strong>
					</div>
					<div class="Filter">
						<div class="myQA">
							<div>
								<input type="checkbox" class="check" readonly>
								<label for="check" class="onoff">
									<span class="myQAbox">내 Q&A만 보기</span>
									<i class="switch"></i>
								</label>
							</div>
						</div>
						<div class="status">
							<button type="button" class="selectbox" aria-paspoput="true" aria-expanded="false">
							답변상태
							<span class="down"></span>
							</button>
						</div>
					</div>
				</div>
				<div></div>
				<div class="menubar" style="margin-top:50px;margin-bottom:50px" role="menubar">
					<a href="" class="before" aria-hidden="true" role="button">이전</a>
					<a href="" class="page" aria-current="false" role="menuitem">1</a>
					<a href="" class="page" aria-current="false" role="menuitem">2</a>
					<a href="" class="page" aria-current="false" role="menuitem">3</a>
					<a href="" class="page" aria-current="false" role="menuitem">4</a>
					<a href="" class="page" aria-current="false" role="menuitem">5</a>
					<a href="" class="page" aria-current="false" role="menuitem">6</a>
					<a href="" class="page" aria-current="false" role="menuitem">7</a>
					<a href="" class="page" aria-current="false" role="menuitem">8</a>
					<a href="" class="page" aria-current="false" role="menuitem">9</a>
					<a href="" class="page" aria-current="false" role="menuitem">10</a>
					<a href="" class="next" aria-hidden="false" role="button">다음</a>
				</div>
				<div class="search">
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
		
		<!-- 푸터 -->
	</div>
</body>
</html>